# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\charles.ayottetrepan\Documents\Trainings\Advanced Machine Learning\How to win a data science competition\S3EN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
